.l {
  background-color: rgb(10, 235, 10);
}

.L {
  background-color: blueviolet;
}

.C {
  background-color: lightcoral;
}

.T {
  background-color: cornflowerblue;
}

.Z {
  background-color: yellow;
}

.Li {
  background-color: orange;
}

.S {
  background-color: red;
}
